<h1>MY TodoS</h1>
<div class="alert alert-success" *ngIf="message">{{message}}x</div>
<div class="container">
  <table class="table">
    <caption>
      My todos
    </caption>
    <tr>
      <th>id</th>
      <th>Description</th>
      <th>Target date</th>
      <th>Is completed</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
    <tr *ngFor="let t of todos">
      <td>{{ t.id }}</td>
      <td>{{ t.description }}</td>
      <td>{{ t.targetDate | date }}</td>
      <td>{{ t.done }}</td>
      <td><button (click)="deleteTodo(t.id)" class="btn btn-danger">Delete</button></td>
      <td><button (click)="updateTodo(t.id)" class="btn btn-warning">Update</button></td>
    </tr>
  </table>
</div>
